<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> -->
		<title>Eat da Banana</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/banana.js"></script>

		<style>
	
	body {

	background: url(https://i.imgur.com/vQs1XPy.png);
    background-size: 52%;
    background-position: center;
    background-repeat: no-repeat;

	}

</style>
	</head>


	<body>
		{{{ body }}}
	</body>
</html>
