<h1> Bananas! </h1>

<h2> Bananas to be eetan </h2>

<ul>
	{{#each burgers}}
		{{#unless devoured}}
			{{> burgers/burgers-block devour=true}}
		{{/unless}}
	{{/each}}
</ul>

<ul>
	{{#each burgers}}
		{{#if devoured}}
			{{> burgers/burgers-block devour=false}}
		{{/if}}
	{{/each}}
</ul>
