<h1> Bananas! </h1>

<div class = "background">

	<img src ="https://i.imgur.com/vQs1XPy.png" id="minion" alt="minion">

	</div>

<div class = "tobeeaten">

<h2> Bananas to be eaten </h2>

<ul>
	{{#each burgers}}
		{{#unless devoured}}
			{{> burgers/burgers-block devour=true}}
		{{/unless}}
	{{/each}}
</ul>

</div>

<div class = "eaten">

<h2> Bananas already eaten </h2>
<ul>
	{{#each burgers}}
		{{#if devoured}}
			{{> burgers/burgers-block devour=false}}
		{{/if}}
	{{/each}}
</ul>

</div>

<div class = "form">

<h2>Add a Banana</h2>
<form class="create-form">

	<div class = "form-group">
		<label for="ca">Banana:</label>
		<input type="text" id="ca" name="name">
	</div>

	<br>

	<button type = "submit"> Add Banana </button>
</form>

</div>
